html {
  box-sizing: border-box;
  height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.block{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 229px;
  background-color: red;
}

.block2{
  width: 18%;
  height: 229px;
  background-color: #370b0b;
}

.block3{
  width: 82%;
  height: 100%;
  background-color: yellow;
}

.imagem{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  height: 100%;
  width: 85%;
}

.block4{
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 50%;
  background-color: pink;
}

.block5{
  width: 50%;
  height: 100%;
  background-color: #4d2222;
}

.margin-0{
  text-align: center;
  margin-top: 0px;
  padding: 30px;
  font-family: 'Karla', sans-serif;
  text-shadow: 3px 2px red;
}

.block6{
  width: 50%;
  height: 100%;
  background-color: #611d1d;
}

.block7{
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 50%;
  background-color: pink;
}

.half{
  width: 50%;
  height: 100%;
  background-color: #491111;
}
.half-2{
  width: 50%;
  height: 100%;
  background-color: #370b0b;
}

.block-text{
  display: flex;
  flex-direction:row-reverse;
  width: 100%;
  height: 300px;
  background-color: red;
  box-shadow: 0px -3px 20px 0px black;
}

.block-image{
  height: 100%;
  width: 30%;
  background-color: purple;
  box-shadow: 0px -3px 20px 0px black;
}

.imagem2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 100%;
  width: 100%;
}

.block8{
  height: 100%;
  width: 70%;
  background-color: white;
  box-shadow: 0px -3px 20px 0px black;
}

.block9{
  display: flex;
  width: 100%;
  height: 250px;
  background-color: red;
}
.text{
  text-align: justify;
  padding: 19px;
  font-family: 'Noto Sans', sans-serif;
}

.text2{
  text-align: justify;
  padding: 0px;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 12px;
}

.end-block{
  display: flex;
  width: 100%;
  height: 70px;
  margin-bottom: 0px;
  background-color: red;
}

.block10{
  width: 30%;
  height: 100%;
  background-color: #370b0b;
  margin-bottom: 0px;
  padding: 4px;
}

.block11{
  width: 40%;
  height: 100%;
  margin-bottom: 0px;
  background-color: #370b0b;
  padding: 4px;
  display: flex;
}
.block12{
  width: 30%;
  height: 100%;
  background-color: #370b0b;
  margin-bottom: 0px;
  padding: 4px;
}

.special-text{
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  margin-top: 0px;
  font-size: 50px;
  margin-bottom: 0px;
  margin-left: 237px;
}

.gifz{
  height: 83%;
  padding: 0px;
  margin-left: 22px;
  margin-top: 5px;
}

.gifz-2{
  -webkit-transform: scaleX(-1);
  margin-left: -400px;
  height: 83%;
  margin-top: 5px;
}