html {
  box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.block{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 229px;
  background-color: red;
}

.block2{
  width: 18%;
  height: 229px;
  background-color: blue;
}

.block3{
  width: 82%;
  height: 100%;
  background-color: yellow;
}

.imagem{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 85%;
}

.block4{
  display: flex;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  background-color: pink;
}

.block5{
  width: 50%;
  height: 100%;
  background-color: green;
}

.margin-0{
  text-align: center;
  margin-top: 0px;
  padding: 30px;

}
